# Auto-launch cage + foot on tty1
if [ "$(tty)" = "/dev/tty1" ]; then
    exec cage -- foot --config /home/{{ kiosk_user }}/.config/foot/foot.ini -e {{ app_dir }}/TrappedMind/bin/Release/net10.0/TrappedMind
fi
